*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}


body{

background:#f5f7fb;

}



header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:white;
box-shadow:0 5px 20px rgba(0,0,0,0.08);

}



.logo{

font-size:28px;
font-weight:700;
color:#3f51b5;

}



nav a{

text-decoration:none;
margin-left:25px;
color:#333;
font-weight:500;

}



.about-hero{

height:60vh;
background:
linear-gradient(
rgba(0,0,0,.5),
rgba(0,0,0,.5)
),
url("https://images.unsplash.com/photo-1564013799919-ab600027ffc6");

background-size:cover;
background-position:center;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

color:white;
text-align:center;

}



.about-hero h1{

font-size:50px;
margin-bottom:15px;

}



.about-hero p{

font-size:22px;

}





.about-section{

padding:80px 8%;

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}





.about-box{

background:white;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:
0 10px 25px rgba(0,0,0,.1);

transition:.4s;

}





.about-box:hover{

transform:translateY(-10px);

}




.about-box h2{

color:#3f51b5;

margin-bottom:20px;

}



.about-box p{

color:#666;

line-height:1.8;

}





footer{

background:#3f51b5;

color:white;

text-align:center;

padding:20px;

}




footer{


background:#111;


color:white;


padding:25px;


text-align:center;


margin-top:40px;


}





@media(max-width:700px){


header{


flex-direction:column;

gap:20px;


}



nav a{

margin:10px;

}


}