*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;

}



body{

background:#f5f7fb;

}



header{

height:80px;
background:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 8%;
box-shadow:0 5px 20px #ddd;

}



.logo{

font-size:28px;
font-weight:bold;
color:#3f51b5;

}



nav a{

text-decoration:none;
margin-left:25px;
color:#333;
font-weight:500;

}



.hero{

height:100vh;

background:url("https://images.unsplash.com/photo-1564013799919-ab600027ffc6");

background-size:cover;

background-position:center;

}



.overlay{

height:100%;

background:rgba(0,0,0,.5);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

}



.overlay h1{

font-size:55px;

}



.overlay p{

font-size:22px;

margin:20px;

}



.search-box{

background:white;

padding:20px;

border-radius:50px;

display:flex;

gap:10px;

}



.search-box input,
.search-box select{

padding:15px;

border:none;

outline:none;

}



.search-box button{

background:#3f51b5;

color:white;

border:none;

padding:15px 30px;

border-radius:30px;

cursor:pointer;

}





.about-home{

padding:80px 8%;

text-align:center;

}



.about-home h2{

font-size:40px;

margin-bottom:40px;

}



.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}



.card{

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 10px 25px #ddd;

transition:.3s;

}



.card:hover{

transform:translateY(-10px);

}



.card h1{

font-size:55px;

}



footer{

background:#3f51b5;

color:white;

padding:40px;

text-align:center;

}


.login-box{

display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.6);
justify-content:center;
align-items:center;
z-index:9999;

}



.login-content{

background:white;
padding:40px;
width:350px;
border-radius:20px;
text-align:center;

}



.login-content input{

width:100%;
padding:12px;
margin:10px 0;

}



.login-content button{

width:100%;
padding:12px;
background:#3f51b5;
color:white;
border:none;
border-radius:25px;

}



.login-content span{

float:right;
font-size:25px;
cursor:pointer;

}



.loader{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:#3f51b5;

color:white;

display:flex;

justify-content:center;

align-items:center;

font-size:40px;

font-weight:700;

z-index:9999;

animation:hideLoader 2s forwards;

}



@keyframes hideLoader{

0%{

opacity:1;

}


90%{

opacity:1;

}


100%{

opacity:0;

visibility:hidden;

}

}
