*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}



body{


height:100vh;


background:

linear-gradient(
rgba(0,0,0,.5),
rgba(0,0,0,.5)
),

url("https://images.unsplash.com/photo-1564013799919-ab600027ffc6");


background-size:cover;

background-position:center;


display:flex;

justify-content:center;

align-items:center;


}






.register-container{


width:100%;

display:flex;

justify-content:center;

align-items:center;


}






.register-card{


background:white;


width:400px;


padding:40px;


border-radius:25px;


text-align:center;



box-shadow:

0 15px 35px rgba(0,0,0,.2);


animation:zoom .5s;


}






.logo{


font-size:32px;


font-weight:700;


color:#3f51b5;


margin-bottom:20px;


}






.register-card h2{


font-size:30px;


margin-bottom:10px;


}






.register-card p{


color:#777;


margin-bottom:25px;


}







.register-card input{


width:100%;


padding:15px;


margin:10px 0;


border-radius:12px;


border:1px solid #ddd;


outline:none;


}








.register-card button{


width:100%;


padding:15px;


background:#3f51b5;


color:white;


border:none;


border-radius:30px;


font-size:16px;


cursor:pointer;


transition:.3s;


}






.register-card button:hover{


background:#303f9f;


}






.register-card a{


color:#3f51b5;


font-weight:bold;


text-decoration:none;


}







@keyframes zoom{


from{

transform:scale(.5);

opacity:0;

}


to{

transform:scale(1);

opacity:1;

}


}



.loader{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:#3f51b5;

color:white;

display:flex;

justify-content:center;

align-items:center;

font-size:40px;

font-weight:700;

z-index:9999;

animation:hideLoader 2s forwards;

}



@keyframes hideLoader{

0%{

opacity:1;

}


90%{

opacity:1;

}


100%{

opacity:0;

visibility:hidden;

}

}